.text-light-red-custom {
    --tw-text-opacity: 1;
    color: hsl(0 100% 67% / var(--tw-text-opacity));
}

.bg-light-red-custom {
    background-color: hsl(0 100% 67% / 0.05);
}

.text-orangey-yellow-custom {
    --tw-text-opacity: 1;
    color: hsl(39 100% 56% / var(--tw-text-opacity));
}

.bg-orangey-yellow-custom {
    background-color: hsl(39 100% 56% / 0.05);
}

.text-green-teal-custom {
    --tw-text-opacity: 1;
    color: hsl(166 100% 37% / var(--tw-text-opacity));
}

.bg-green-teal-custom {
    background-color: hsl(166 100% 37% / 0.05);
}

.text-cobalt-blue-custom {
    --tw-text-opacity: 1;
    color: hsl(234 85% 45% / var(--tw-text-opacity));
}

.bg-cobalt-blue-custom {
    background-color: hsl(234 85% 45% / 0.05);
}